*{
    padding: 0;
    margin: 0;
}
.div-section-1{

   display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  width: 100%;
     height: 350px;
     background-image: url('../img/Rectangle 75.svg');
     background-size: cover;
     object-fit: cover;

}
.capa{
    background-color: rgba(0, 25, 250, 0.5);
    width: 100%;
    height: 350px;
    display: flex;
    justify-content: center;
}

.div-section-1 h1{
    font-size: 36px;
    display: flex;
    gap: 5px;
}
.div-section-1 img{
    width: 272px;
}
.section2{
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.article-2{
   display: flex;
   flex-direction: column;
   justify-content: center; 
   align-items: center;
   gap: 10px;
}
.div1-section-2{
    display: flex;
    gap: 20px;
   
}
.capaemzima{
    background-image: url('../img/Vector 3.svg');
   background-size: cover;
   }

.div1-section-2 input {
      width:900px ;
       border-radius: 50px;
       height: 40px;
       border: 1px solid #5EAEFF;
       text-decoration: #0066CC;
       background-color: #A6D2FF21;
       outline: none;
       padding: 5px;
}
.article-2 h1 {
    color: #003579;
    font-size: 36px;
}
.article-2 span{
    color:#003579A1;
}
.menu input::placeholder {
  color:#5EAEFF;
  font-size: larger;
  font-family: 'poppins' sans-serif;
  text-align: start;
}

.div1-section-2 button{
    border-radius: 20px;
    display: flex;
    gap: 3px;
    color: #0066CC;
    align-items: center;
    border: 1px solid  #0066CC;
    background:white;
    font-weight: 700;
}
.article-section3{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.search{
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    position: relative;
    left: -72px;
    justify-content: center ;
    background-color: #5EAEFF;
}

.section3{
    display:flex ;
    flex-direction: column;
}
.section4{
    padding: 40px;
}
.section3 h1{
    color: #5EAEFF;
    font-size: 24px;
}
.div3-section-3 h1{
    color: #003579;
}
.div3-section-3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}
.div-titulo{
    padding-left: 150px;
}
.article-3{
    border: 1px solid #D3D3D3;
    height: 397px;
    padding: 20px;
    border-top: 10px solid #003579 ;
    border-radius: 5px;
    width: 420px;

}
.article-3 p{
  color: #AAAAAA;
}
.article-3 span{
    color:#AAAAAA ;
}
.section4{
    display: flex;
    gap: 20px;
    
}
.article-3-1{
 border: 1px solid #D3D3D3;
 height: 397px;
    width:420.0027770996094px ;
    padding: 20px;
    border-top: 10px solid #5EAEFF ;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.div-article-3-1{
    display: flex;
    flex-direction: column;
    position: relative;
    top: -50px;
}
.article-3-1 h1{
    font-size: 20px;
    font-weight: 900;
    
}
.div3-section-3-select{
    justify-content: center;
    display: flex;
    align-items: center;
    width: 300px;

}
.div3-section-3-select select{
    width: 100px;
    height: 45px;
    display: flex;
    align-items: center;
    text-align: center;
    outline: none;
 
}
.select-pagination{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}
 .pagination {
        display: flex;
        gap: 5px;
  
    }

    .pagination li {
        display: flex;
    }

    .pagination a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        text-decoration: none;
        color: #1a1a1a;
        border-radius: 5px;
        background-color: #f4f4f4;
        font-weight: bold;
    }

    .pagination a:hover {
        background-color: #ddd;
    }

    .pagination .active a {
        background-color: #003876; /* Azul */
        color: white;
    }

 