* {
  margin: 0;
  padding: 0;
}
body{
  position: relative;
  z-index: 1;
}
.capa {
  width: 100%;
  height: 250px;
  display: flex;
  background-color: rgba(0, 53, 121, 0.78)
;
  justify-content: space-around;
  gap: 10%;
  align-items: center;
}
.section1 {
  width: 100%;
  height: 250px;
  background-image: url("../img/Rectangle 75.svg");
  background-size: cover;
  object-fit: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.div2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.div2 h1{
    font-size: 36px;
}
.div3-img{
    width: 272px;
}
.div2 span{
    font-size: 24px;
}
.section-2 {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  gap: 40px;
}
.cont1-input {
display: flex;
justify-content: center;
flex-direction: column;
gap: 30px;
}
 .cont2-input{
  display: flex;
justify-content: center;
flex-direction: column;
gap: 30px;
 }
.btn1-section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0066cc;
  background: white;
  border: 2px solid #0066cc;
  border-radius: 23px;
  height: 47px;
  width: 196px;
}
.btn2-section2 {
  color: #5eaeff;
  border: 1px solid #5eaeff;
  border-radius: 50px;
  height: 33px;
  width: 107px;
}
.section3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}
.section3 h1 {
  color: #003579;
  font-weight: bold;
  font-size: 36px;
}
.section3 span {
  color: #003579a1;
  font-size: 20px;
  
}
.article-section3 {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.article-section3 div {
  color: #94aac7;
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 15px;
}
.div5-section3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.div5-section3 p {
  display: flex;
  text-align: center;
  width: 1100px;
  height: 120px;
  justify-content: center;
  color: #003579;
  font-weight: 500;
  font-size: 18px;
  gap: 5px;
}
.section4 {
  padding: 90px;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.div6 {
  display: flex;
  justify-content: start;
  margin-left: 90px;
  margin-top: 20px;
}
.btn1-section4 {
  background: #7cc713;
  border: none;
  color: white;
  width: 196px;
  font-size: 16px;
  border-radius: 23px;
  height: 47px;
  font-weight: bold;
}

.article-4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  color: #003579;
  width: 80%;
}

.article-4 span {
  font-weight: 900;
}
.article-4 img {
  width: 39px;
}

.div1-section4 {
  display: flex;
  gap: 30px;
}
.cont {
  display: flex;
  gap: 10px;
  width: 90%;
}


.info-container {
  box-shadow: 3px 3px 5px  gray;
  background-color: white;
  border-radius: 15px;
  padding: 40px;
  width: 547px;
  height: 253px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  top: -100px;
}
.info-container article{
    display:flex;
    justify-content: war;
}

.info-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  width:115px ;
}
.info-header h2{
    color: #003579;
    width: 100%;
}
.info-icon {
  background-color: #b3e5fc;
  width: 145px;
  height: 104px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
      border-radius: 20px;

}
.info-icon  img{
    width: 100px;
    height: 71px;
}
.info-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.info-list {
  color: #0066CC;
  font-size: 16px;
}

.info-list li {
    color: #0066CC;
  margin-bottom: 10px;
  position: relative;
  padding-left: 15px;
  font-size: 14px;
}



.info-link {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #5EAEFF;
  font-weight: bold;
}
.section5{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
}
.article-5{
   display: flex;
   flex-direction: column;
   gap: 30px;
   width: 50%;
   
   
}

.btn2-section5{
    width: 196px;
    height: 47px;
    background: #0080FF;
    color: white;
    border-radius:23px ;
    border: none;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont2{
    display: flex;
    gap: 30px;
}
.cont2 p{
    width: 565px;
    color: #003579;
}
.cont2 span{
    color: #003579;
    font-weight: 700;
}
.number{
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background: #0080FF;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
}
.article6{
   padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  box-shadow: 3px 3px 5px  gray;
  background-color: white;
  border-radius: 15px;
  width: 35%;
  height: 243px;

}
.article6 img{
   width: 80%;
}

.btn3-section5{
    width: 156px;
    height: 70px;
    background: #ED2024;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 10px;
}
.doc{
        width: 196px;
    height: 100px;
    background: #0080FF;
    color: white;
    border-radius:23px ;
    border: none;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
     top: -29px;
     left: -170px;
}

.btn4-section6{
    display: flex;
  align-items: center;
  justify-content: center;
  color: #0066cc;
  background: white;
  border: 2px solid #0066cc;
  border-radius: 23px;
  height: 47px;
  width: 196px;
}
.section6{
    display: flex;
    justify-content: center;
    height: 200px;
    align-items: center;
}
/* Laptops grandes */
@media (max-width: 1200px) and (min-width: 1024px) {
    .capa, .section1 {
        flex-direction: row;
        gap: 8%;
        height: auto;
    }

    .div2 h1 { font-size: 32px; }
    .div2 span { font-size: 20px; }
    .div3-img { width: 200px; }

    .section2 { flex-direction: row; gap: 30px; padding: 15px; }
    .section3 h1 { font-size: 30px; }
    .section3 span { font-size: 18px; }
    .div5-section3 p { width: 90%; font-size: 16px; }
    .article6 { width: 40%; height: auto; }
}

/* Tablet */
@media (max-width: 1023px) and (min-width: 768px) {
    .capa, .section1 { flex-direction: column; height: auto; gap: 5%; }
    .div2 h1 { font-size: 24px; }
    .div2 span { font-size: 18px; }
    .div3-img { width: 180px; }

    .section2 { flex-direction: column; gap: 15px; padding: 10px; }
    .section3 h1 { font-size: 24px; }
    .section3 span { font-size: 16px; }
    .div5-section3 p { width: 90%; font-size: 14px; }
    .article6 { width: 60%; height: auto; }
    .doc { top: 0; left: 0; }
}

/* Celular */
@media (max-width: 767px) {
    .capa, .section1 { flex-direction: column; height: auto; gap: 5%; padding: 10px; }
    .div2 h1 { font-size: 20px; }
    .div2 span { font-size: 16px; }
    .div3-img { width: 150px; }

    .section2 { flex-direction: column; gap: 10px; padding: 10px 5px; }
    .section3 h1 { font-size: 20px; }
    .section3 span { font-size: 14px; }
    .div5-section3 p { width: 100%; font-size: 12px; }
    .section4 { flex-direction: column; padding: 20px 5px; }
    .article6 { width: 80%; height: auto; }
    .doc { position: static; margin: 10px 0; }
    .cont2 p { width: 100%; }
    .info-container { width: 100%; padding: 20px; top: 0; }
    .info-icon { width: 100px; height: 70px; }
    .info-icon img { width: 70px; height: 50px; }
}
/* Tablet */
@media (max-width: 1023px) and (min-width: 768px) {
    .section5 {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }
    .article-5 {
        width: 80%;
    }
    .cont2 {
        flex-direction: column;
        gap: 15px;
    }
    .cont2 p {
        width: 100%;
    }
    .article6 {
        width: 60%;
    }
}

/* Celular */
@media (max-width: 767px) {
    .section5 {
        flex-direction: column;
        gap: 15px;
        padding: 15px 5px;
    }
    .article-5 {
        width: 100%;
    }
    .cont2 {
        flex-direction: column;
        gap: 10px;
    }
    .cont2 p {
        width: 100%;
        font-size: 14px;
    }
    .article6 {
        width: 90%;
        height: auto;
    }
    .btn2-section5, .btn3-section5 {
        width: 100%;
        height: auto;
        font-size: 14px;
    }
    .number {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }
}


