* {
  margin: 0;
  padding: 0;
}
.capa {
  width: 100%;
  height: 200px;
  display: flex;
  background-color: rgba(0, 70, 250, 0.5);
  justify-content: space-around;
  gap: 10%;
  align-items: center;
}
.section1 {
  width: 100%;
  height: 200px;
  background-image: url("../img/Rectangle 75.svg");
  background-size: cover;
  object-fit: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.div2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section2 {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.btn1-section2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0066cc;
  background: white;
  border: 2px solid #0066cc;
  border-radius: 23px;
  height: 47px;
  width: 196px;
}
.btn2-section2 {
  color: #5eaeff;
  border: 1px solid #5eaeff;
  border-radius: 50px;
  height: 33px;
  width: 107px;
}
.section3 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 40px;
}
.section3 h1 {
  color: #003579;
  font-weight: bold;
  font-size: 36px;
}
.section3 span {
  color: #003579a1;
  font-size: 20px;
}
.article-section3 {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.article-section3 div {
  color: #94aac7;
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 15px;
}
.div5-section3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.div5-section3 p {
  display: flex;
  text-align: start;
  width: 1000px;
  height: 120px;
  justify-content: center;
  color: #003579;
  font-weight: 500;
}
.section4 {
  padding: 90px;
}

.article-4 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  color: #003579;
}

.article-4 span {
  font-weight: 900;
}
.article-4 img {
  width: 39px;
}

.div1-section4 {
  display: flex;
  gap: 30px;
}
.cont {
  display: flex;
  width: 50%;
  gap: 10px;
}
.article-5 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  color: #003579;
}
.number {
  width: 50px;
  height: 40px;
  color: white;
  background: #0080ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
