:root {
    --dark-blue-bg:#012E6C;
    --light-grey-text: #B0C4D5;
    --white-text: #FFFFFF;
    --footer-bottom-bg: #F8F9FA;
    --copyright-bg: #FFFFFF;
    --social-icon-color: #007bff;
    --light-border: #1E4675;
}
