body {
  padding: 0;
  margin: 0;
     font-family: 'Poppins', sans-serif;
}
.primera-seccion-header {
  display: flex;
  height: 10px;
  align-items: center;
  padding: 5px;
}
.primera-seccion-header img {
  width: 30px;
}
.segunda-seccion-header {
  background-color: #003876;
  height: 71px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.logo {
  display: flex;
}
.logo img {
  width: 140px;
  height: 98px;
}
.buscador {
  display: flex;
  align-items: center;
}
.i{
    background-color: #EE2A24;
    transform: translateX(-2.7rem);
    color: white;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: -40px;
}
.tercera-seccion-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.buscador input{
  
    width: 246px;
    height: 39px;
    border-radius: 20px ;
    border: none;
    padding-left: 10px;
    outline: none;
}
.menu {
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid #003876;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  padding: 15px;
}
.menu img {
  display: flex;
  gap: 20px;
  width: 30px;
    height: 30px;
}
.button-header{
    background:white;
    color: #003876;
    font-weight: bold;
    border: 1px solid    #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    width: 144px;
    height:39px;
}
.div-button-header button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.cuarta-seccion-header{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    padding: 10px;
    height: 55px;
    font-weight: bold;
}
.cuarta-seccion-header a{
   text-decoration: none;
   color: #003876;
}
.cuarta-seccion-header  select{
   border: none;
   font-family: Poppins;
   color: #003876;
}