.tbody {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0,0.8);
}

.contenedor-modal {
  width: 1300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 15px;
  margin: 20px;
  position: relative;
  z-index: 10;
  top: -650px;
  background-color: white;
  transform: scale(0.9);

}
h3{
    color:#0066CC ;
    font-size:15px ;
}
.campos {
  margin: 20px;
  color: #0035796B;
  padding: auto;
}

.section-1 {
  display: flex;
  width: 1270px;
  justify-content: space-between;
  align-items: center;
  background-color: #003579;
  color: white;
  height: 100px;
  border-radius:  15px;
  padding: 15px;
}
.section1 h1{
    font-size: 26px;
}
.section-1 button{
    width: 200px;
    height: 37px;
    border-radius: 20px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#0066CC ;
    gap: 5px;
    background-color: #FFFFFF;
}
.section1 button img{
    width:32.2px ;
}
.section2 {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.cont1-input input {
  width: 705px;
  border: 2px solid #EBEBEB;
    font-family: "Poppins", sans-serif;

}
.cont2-input input {
  width: 271px;
  border: 2px solid #EBEBEB;
    font-family: "Poppins", sans-serif;

}
.subir-archivo{
  width: 1000px;
  height: 183px;
  display: flex;
  text-align: start;
  border: 2px solid #EBEBEB;
  justify-content: center;
  align-items: center;
  color: #7E9BC1;
  flex-direction: column;
}

.cont3-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
.cont3-input h3 {
  text-align: center;
  display: flex;
  justify-content: start;
}
.cont3-input input {
  width: 1000px;
  height: 183px;
  display: flex;
  text-align: start;
  border: 2px solid #EBEBEB;
}
.cont3-input input::placeholder{
    display: flex;
    align-items: start;
    text-align: start;  
    position: relative;
    top: -60px;
      font-family: "Poppins", sans-serif;

}
.div-text {
  display: flex;
  justify-content: end;
  padding: 20px;
  color: #8fafd9;
}
.div-text2 {
  display: flex;
  justify-content: center;
  color: #1a579a;
  padding: 20px;
}
.div-text3 {
  display: flex;
  flex-direction: column;
  padding: 40px;
  gap: 5px;
}
.div-text3 span {
  color: #0080ff;
}
.check{
  display: flex;
  gap: 5px;
  

}
.check span {
    color: #003579;
    
}
.checkbox{
  width: 42px;
}
.deseas-recibir{
  font-size: 20px;
}
.footer-modal{
    display: flex;
    justify-content: end;
    padding: 20px;
}
.footer-modal button{
    background: #013579;
    color: white;
    width: 169px;
    height: 40px;
    border: none;
    border-radius: 27px;
}
input{
    height: 34px;
    outline: none;
    padding: 2px;
}
input::placeholder {
  color: #707070;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  display: flex;
align-items: center;
}