<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/modal.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">

   </head>
   

<body class="tbody">
        

    <article id="" class="contenedor-modal">
           
       
        <section  class="section-1">
 

            <div>
                <h1>Solicitud de servicio</h1>
                <span>> Ambiente de prueba</span>
            </div>
            <button   onclick=""><img src="/img/icons8-flecha-responder-100 1.svg" alt="">REGRESAR</button>
        </section>

        <div class="campos">
            <span>*Todos los campos marcados son obligatorios</span>
        </div>
        <section class="section2">
            <article class="cont1-input">
                <div class="div-input1">
                    <h3>Nombre:</h3>
                    <input placeholder="Nombre Completo" type="text">
                </div>
                <div class="div-input2">
                    <h3>Institución</h3>
                    <input placeholder="Institución" type="text">
                </div>
            </article>

            <article class="cont2-input">
                <div  class="div-input1">
                    <h3>Dirección de correo electrónico:</h3>
                    <input placeholder="Correo Electrónico" type="text">
                </div>
                <div class="div-input2">
                    <h3>Número de teléfono:</h3>
                    <input placeholder="Número de teléfono" type="text">
                </div>

            </article>

        </section>
        <section class="cont3-input">
            <h3>Mensaje:</h3>
            <input placeholder="Asunto" type="text">
        </section>
        <section class="cont3-input">
            <h3>Carta de solicitud:</h3>
            <div class="subir-archivo">
                <img src="/img/icons8-descargar-52 1.svg" alt="">
                <p>Arrastra o busca en tu ordenador</p>
            </div>
        </section>
        <div class="div-text">
            <span>Formatos permitidos: PDF, DOCX</span>
        </div>
        <div class="div-text2">
            <span>Tus datos personales se utilizarán para procesar la solicitud y apoyar tu experiencia en este sitio
                web como indica nuestra Política de Privacidad </span>
        </div>
        <div class="div-text3">
          <span class="deseas-recibir">¿Deseas recibir información sobre las promociones de Firma GOB?</span>
          <div class="check">
            <input class="checkbox" type="checkbox">
            <span>Marca esta casilla para dar tu consentimiento al tratamiento de datos personales con fines de marketing/ventas directas como indica nuestra Política de Privacidad</span>
          </div>
        </div>

        <div class="footer-modal">
            <button>Enviar</button>
        </div>
    </article>

</body>

</html>